body{
    background-image: url(../img/bbb.png);
    font-family: 'space grotesk';
    font-weight: 400;
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
}
@keyframes header-color {
    0% {color: black;}
    30% {color: darkred;}
    70% {color: orange;}
    100% {color: black;}
}
h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: -3px;
    animation: header-color 2s infinite forwards;
}
h2{
    font-family: 'Urbanist', sans-serif;
    color: darkred;
    font-size: 70px;
    width: 500px;
    position: relative;
    left: 9%;
}
hr{
    border-top: 5px dashed;
    border-bottom: 0px;
    color: darkred;
    width: 50%;
}
#sticker-1{
    position: fixed;
    top: 0px;
    left: 80%;
    rotate: 15deg;
    z-index: 1;
}
#sticker-2{
    position: fixed;
    top: 40px;
    left: 70%;
    z-index: 2;
}
#sticker-3{
    position: fixed;
    top: 5px;
    left: 76.5%;
    z-index: 3;
}
#img-1{
    position: relative;
    left: 10%;
    top: -30px;
}
#img-2{
    position: relative;
    left: 20%;
    top: -100px;
}
.text-box{
    margin: 50px;
    border: 7px dotted orange;
    background-color: darkred;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    width: 35%;
    color: orange;
    position: absolute;
    left: 7%;
    animation: text-box 1s infinite forwards;
}
.review{
    margin: 50px;
    border: 7px dotted orange;
    background-color: darkred;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    width: 35%;
    color: orange;
    position: absolute;
    left: 45%;
    top: 1000px;
    animation: review-box 1s infinite forwards;
    line-height: 35px;
    letter-spacing: -1px;
}
a{
    font-size: 20px;
    color: darkred;
    position: relative;
    left: 8%;
    top: 500px;
    background-color: orange;
    padding: 15px;
    border-radius: 15px;
}
#next-page{
    top: 520px;
}
#prev-page{
    top: 540px;
}
a:hover{
    color: orange;
    background-color: darkred;
}
@keyframes text-box {
    0% {border: 10px dotted orange;}
    50% {border: 10px dotted palegoldenrod;}
    100% {border: 10px dotted orange;}
}
@keyframes review-box {
    0% {border: 10px dotted palegoldenrod;}
    50% {border: 10px dotted orange;}
    100% {border: 10px dotted palegoldenrod;}
}
#img3{
    position: absolute;
    left: 67%;
    top: 715px;
    /* garlic */
}
#img4{
    position: absolute;
    left: 70%;
    top: 300px;
    /* lassi */
}
#img5{
    position: absolute;
    left: 50%;
    top: 150px;
    animation: pot 2s infinite forwards;
    /* pot */
}
@keyframes pot {
    0% {rotate: 0deg;}
    50% {rotate: 10deg}
    100% {rotate: 0deg;}
}