/* change page button (add backgrounds) */
body{
    background-image: url(../img/rb.png);
    font-family: 'space grotesk';
    font-weight: 400;
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
}
@keyframes header-color {
    0% {color: black;}
    30% {color: darkred;}
    70% {color: burlywood;}
    100% {color: black;}
}
h1{
    text-align: center;
    letter-spacing: -3px;
    font-size: 40px;
    animation: header-color 2s infinite forwards;
}
h2{
    font-family: 'Fasthand', cursive;
    font-size: 150px;
    margin: 10px;
    color: darkred;
    position: relative;
    left: 10%;
}
hr{
    border-top: 5px dotted darkred;
    border-bottom: 0;
    width: 50%;
}
a{
    color: darkred;
    font-size: 20px;
    position: relative;
    left: 10%;
    top: 800px;
    background-color: burlywood;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    text-decoration: none;
}
#nextpage{
    top: 830px;
}
#prevpage{
    top: 860px;
}
a:hover{
    color: burlywood;
    background-color: brown;
}
#sticker-1{
    position: absolute;
    rotate: 15deg;
    left: 80%;
    top: -370px;
    z-index: 1;
}
#sticker-2{
    position: absolute;
    z-index: 2;
    left: 70%;
    top: -330px;
}
#sticker-3{
    position: absolute;
    left: 77%;
    top: -370px;
    z-index: 3;
}
.sticker-div{
    position: relative;
}
.parent-div{
    position: relative;
}
#img-1{
    position: absolute;
    left: 5%;
    top: -50px;
    rotate: -3deg;
}
#img-2{
    position: absolute;
    left: 55%;
    top: -120px;
    rotate: 4deg;
}
.text-box{
    font-size: 25px;
    position: absolute;
    width: 35%;
    color: darkred;
    border: 5px dotted darkred;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    line-height: 25px;
    letter-spacing: -1px;
    animation: text 1s infinite forwards;
    left: 10%;
    top: 550px;
}
.text-box:hover{
    border: 5px dotted darkorange;
}
.review{
    font-size: 25px;
    position: relative;
    color: darkred;
    word-wrap: break-word;
    width: 400px;
    border: 5px dotted darkred;
    border-radius: 50px;
    padding: 20px;
    line-height: 25px;
    letter-spacing: -1px;
    animation: text 1s infinite forwards;
    top: 550px;
    left: 50%;
}
.review:hover{
    border: 5px dotted darkorange;
}
#stars{
    position: absolute;
    top: 850px;
    left: 25%;
}
#ruby1{
    position: absolute;
    rotate: -20deg;
    left: 43%;
    top: -180px;
}
#ruby2{
    position: absolute;
    left: 38%;
    top: -40px;
}
#drink{
    position: absolute;
    rotate: -5deg;
    top: 200px;
   left: 3%;
}
@keyframes burg {
    0% {rotate: -5deg;}
    50% {rotate: 0deg;}
    100% {rotate: -5deg;}
}
#burger{
    position: absolute;
    rotate: -5deg;
    animation: burg 2s infinite forwards;
    top: 200px;
    left: 45%;
}
@keyframes text {
    0% {border: 5px dotted darkred;}
    50% {border: 5px dotted darkorange}
    100% {border: 5px dotted darkred;}
}

@media only screen and (max-width: 600px) {
    h2{
        font-size: 80px;
    }
    #sticker-1{
        left: 73%;
        top: -280px;
    }
    #sticker-2{
         left: 0%;
         top: -250px;
    }
    #sticker-3{
         left: 75%;
         top: -70px;
    }
    #img-1{
    width: 100px;
    top: 0;
    }
    #img-2{
        width: 100px;
        top: 450px;
        left: 5%;
    }
    #ruby1{
        width: 100px;
        left: 50%; 
        top: -130px;   
    }
    #ruby2{
        width: 130px;
        top: 30px;
        left: -2%;
    }
    .text-box{
        font-size: 20px;
        width: 70%;
        line-height: 20px;
        top: 1100px;
        left: 5%;
    }
    .review{
        font-size: 20px;
        width: 70%;
        line-height: 20px;
        top: 1350px;
        left: 5%
    }
    #stars{
        width: 450px;
        top: 950px;
        left: 10%;
    }
    a{
        top: 1400px;
        left: 5%;
    }
    #nextpage{
        top: 1430px;
    }
    #prevpage{
        top: 1450px;
    }   
    #burger{
        top: 1250px;
        width: 160px;
        left: 66%;
        z-index: 1;
    }
    #drink{
        width: 150px;
        top: 1560px;
        left: 60%;
    }

}

@media only screen and (max-width: 932px) {
    h1{
        font-size: 30px
    }
    hr{
        margin-top: -20px
    }
    h2{
        font-size: 70px;
        top: 15px;
        left: 0;
    }
    #sticker-1{
        left: 73%;
        top: -100;
    }
    #sticker-2{
         left: -2%;
         top: -210px;
    }
    #sticker-3{
         left: 45%;
         top: -150px;
    }
    #img-1{
        top: -10px;     
    }
    #img-2{
        top: 200px;
        left: 10%;
        rotate: 0deg;
    }
    #ruby1{
        width: 70px;
        left: 74%; 
        top: 190px;   
    }
    #ruby2{
        width: 70px;
        top: -5px;
        left: -2%;
    }
    img{
        max-width: 300px;
    }
    .text-box{
        font-size: 13px;
        width: 45%;
        line-height: 13px;
        top: 450px;
        left: 0%;
        padding: 10px;
    }
    .review{
        font-size: 13px;
        width: 40%;
        line-height: 13px;
        top: 450px;
        left: 47%;
        padding: 10px;
    }
    #stars{
        width: 180px;
        top: -70px;
        left: 50%;
    }
    a{
        top: 460px;
        left: 0%;
        font-size: 15px;
        padding: 10px;
        margin: 10px;
    }
    #nextpage{
        top: 470px;
    }
    #prevpage{
        top: 480px;
        margin-bottom: 50px;
    }   
    #burger{
        top: 620px;
        width: 100px;
        left: 73%;
        z-index: 1;
    }
    #drink{
        width: 90px;
        top: 620px;
        rotate: 15deg;
        left: 48%;
        z-index: 1;
    }
    .pbuttons{
        margin-bottom: 80vh;
    }
}
