body{
    background-image: url(../img/bbb.png);
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
    font-family: 'space grotesk';
    font-weight: 400;
    color:black;
}
@keyframes header-color {
    0% {color: black;}
    30% {color: brown;}
    70% {color: darkgoldenrod;}
    100% {color: black;}
}
@keyframes text-box {
    0% {border: 7px dotted darkgoldenrod;}
    50% {border: 7px dotted beige;}
    100% {border: 7px dotted darkgoldenrod;}
}
@keyframes review {
    0% {border: 7px dotted beige;}
    50% {border: 7px dotted darkgoldenrod;}
    100% {border: 7px dotted beige;}
}
h1{
    text-align: center;
    font-size: 40px;
    margin: 30px;
    letter-spacing: -3px;
    animation: header-color 2s infinite forwards;
}
hr{
    border-bottom: 0;
    border-top: 4px dotted brown;
    width: 50%;
}
h2{
    font-family: 'Righteous', sans-serif;
    font-size: 70px;
    margin: 50px;
    text-align: center;
    position: relative;
    color: brown;
}
a{
    color: brown;
    border: 3px dotted brown;
    background-color: beige;
    border-radius: 15px;
    position:relative;
    font-size: 20px;
    padding: 15px;
    margin: 120px;
    top: 800px;
    text-decoration: none;
   
}
#next-page{
    top: 830px;
}
#prev-page{
   top: 860px;
}
a:hover{
    color: beige;
    background-color: brown;
}
#img-1{
    position: relative;
    left: 10%;
}
#img-2{
    position: absolute;
    left: 50%;
}
.text-box{
    margin: 50px;
    border: 5px dotted darkgoldenrod;
    background: brown;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    width: 35%;
    color: beige;
    position: absolute;
    animation: text-box 1s infinite forwards;
    left: 5%;
}
.review{
    position: absolute;
    width: 500px;
    word-wrap: break-word;
    margin: 25px;
    background: brown;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 30px;
    width: 35%;
    color: beige;
    animation: review 1s infinite forwards;
    line-height: 35px;
    letter-spacing: -1px;
    left: 50% ;
    top: 900px;
}
.parent-div{
    position: relative;
}
#coke{
    position: absolute;
    rotate: -5deg;
    top: -300px;
    left: 5%;
    opacity: 100;
}
#emptycoke{
    position: absolute;
    rotate: -5deg;
    top: -290px;
    left: 5%;
    opacity: 0;
}
#button{
    background-color: brown;
    border-radius: 20px;
    color: beige;
    padding: 10px;
    position: absolute;
    font-family: "righteous";
    top: 170px;
    left: 18%;
    font-size: 20px;
    cursor: pointer;
    border: 0;
}
#button:hover{
    background-color: maroon;
}
#candle{
    position: absolute;
    animation: candle 2s infinite forwards;
    left: 60%;
}
#stars{
    position: absolute;
    top: 930px;
    left: 10%;
}
#stars:hover{
    rotate: 5deg;
}
#candle2{
    position: absolute;
    animation: candle2 2s infinite  forwards;
    left: 60%;
}
@keyframes candle {
   0% {opacity: 1;}
   50% {opacity: 0;}
   100% {opacity: 1;}
}
@keyframes candle2 {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
#sticker-1{
    position: absolute;
    rotate: 15deg;
    left: 80%;
    top: -270px;
    z-index: 1;
}
#sticker-2{
    position: absolute;
    z-index: 2;
    left: 70%;
    top: -230px;
}
#sticker-3{
    position: absolute;
    left: 77%;
    top: -270px;
    z-index: 3;
}
.sticker-div{
    position: relative;
}

@media only screen and (max-width: 600px) {
    h2{
        font-size: 50px;
        top: 50px;
    }
    #sticker-1{
        left: 73%;
        top: -280px;
    }
    #sticker-2{
         left: 0%;
         top:- 200px;
    }
    #sticker-3{
         left: 5%;
         top: -140px;
    }
    .text-box{
        font-size: 18px;
        width: 70%;
        left: -5% ;
    }
    .review{
        font-size: 18px;
        line-height: 20px;
        width: 70%;
        top: 560px;
        left: 0%;
    }
    #img-1{
        width: 260px;
        left: 2%;
    }
    #img-2{
        width: 260px;
    }
    #button{
        width: 130px;
        font-size: 15px;
        top: 800px;
        left: 75%;
    }
    #candle{
        width: 130px;
        left: 75%;
        top: 600px;
    }
    #candle2{
        width: 130px;
        left: 75%;
        top: 600px;
    }
    #coke{
        width: 150px;
        left: 75%;
        top: 250px;
    }
    #emptycoke{
        width: 120px;
        left: 75%;
        top: 250px;
    }
    #stars{
        top: 760px;
    }
    a{
        left: -15%;
        top: 700px;
    }
    #next-page{
        top: 730px;
    }
    #prev-page{
        top: 760px;
    }
}


@media only screen and (max-width: 932px) {
    h2{
        font-size: 50px;
        top: 50px;
    }
    h1{
        font-size: 30px
    }
    hr{
        margin-top: -20px
    }
    #sticker-1{
        left: 73%;
        top: -250px;
    }
    #sticker-2{
         left: 0%;
         top:- 200px;
    }
    #sticker-3{
         left: 5%;
         top: -140px;
    }
    .text-box{
        font-size: 10px;
        padding: 10px;
        line-height: 10px;
        width: 50%;
        left: -10% ;
        top: 150px;
    }
    .review{
        font-size: 10px;
        line-height: 10px;
        padding: 10px;
        width: 50%;
        left: -3% ;
        top: 330px;
    }
    #img-1{
        width: 200px;
        left: 0%;
    }
    #img-2{
        width: 200px;
        left: 52%;
    }
    #button{
        width: 130px;
        font-size: 15px;
        top: 700px;
        left: 65%;
    }
    #candle{
        width: 130px;
        left: 65%;
        top: 470px;
    }
    #candle2{
        width: 130px;
        left: 65%;
        top: 470px;
    }
    #coke{
        width: 150px;
        left: 65%;
        top: 180px;
    }
    #emptycoke{
        width: 150px;
        left: 65%;
        top: 180px;
    }
    #stars{
        top: -200px;
        left: 38%;
        width: 150px;
    }
    a{
        left: -25%;
        top: 300px;
        font-size: 15px;
        padding:10px
    }
    #next-page{
        top: 320px;
    }
    #prev-page{
        top: 30px;
    }
}