/* change page button (add backgrounds) */
body{
    background-image: url(../img/bbb.png);
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
    font-family: 'space grotesk';
    font-weight: 400;
}
@keyframes header-color {
    0% {color: black;}
    30% {color: brown;}
    70% {color: coral;}
    100% {color: black;}
}
h1{
    color: black;
    letter-spacing: -3px;
    text-align: center;
    font-size: 40px;
    animation: header-color 2s infinite forwards;
}
h2{
    font-family:'Odibee Sans', cursive;
    font-size: 130px;
    margin: 20px;
    color: brown;
    position: relative;
    left: 7%;
}
hr{
    border-top: 5px dashed;
    border-bottom: 0px;
    color: coral;
    width: 50%;
}
a{
    color: beige;
    font-size: 20px;
    margin: 110px;
    position: relative;
    top: 1900px;
    background-color: brown;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
}
#nextpage{
    top: 1930px;
}
#prevpage{
    top: 1960px;
}
a:hover{
    color:brown;
    background-color: coral;
}
.parent-div{
    position: relative;
}
#sticker-1{
    position: absolute;
    rotate: 15deg;
    left: 80%;
    top: -270px;
    z-index: 1;
}
#sticker-2{
    position: absolute;
    z-index: 2;
    left: 70%;
    top: -230px;
}
#sticker-3{
    position: absolute;
    left: 77%;
    top: -270px;
    z-index: 3;
}
.sticker-div{
    position: relative;
}
#img-1{
    position: absolute;
    left: 5%;
}
#img-2{
    position: absolute;
    left: 50%;
    top: 200px;
}
#img-3{
    position: absolute;
    left: 5%;
    top: 660px;
}
#img-4{
    position: absolute;
    left: 50%;
    top: 760px;
}
.text-box{
    background-color: brown;
    border-radius: 150px;
    color: beige;
    width: 40%;
    margin: 30px;
    padding: 50px;
    box-sizing: border-box;
    border: 10px double coral;
    font-size: 20px;
    position: absolute;
    line-height: 25px;
    letter-spacing: -1px;
    left: 45%;
    top: 1300px;
}
.review{
    background-color: brown;
    border-radius: 150px;
    color: beige;
    width: 40%;
    margin: 30px;
    padding: 50px;
    box-sizing: border-box;
    border: 10px double coral;
    font-size: 30px;
    position: absolute;
    line-height: 30px;
    letter-spacing: -1px;
    left: 2%;
    top: 1300px;
}
.text-box:hover{
    border: 10px double beige
}
.review:hover{
    border: 10px double beige;
}
#stars{
    position: absolute;
    left: 20%;
    top: 1670px;
}
#pot{
    position: absolute;
    left: 50%;
    top: -150px;
}
#shrimp{
    position: absolute;
    left: 65%;
    top: -50px;
}
#squig1{
    position: absolute;
    left: 43%;
    top: 500px;
}
#squig2{
    position: absolute;
    rotate: 50deg;
    left: 31%;
    top: 1080px;
}
#spoon{
    position: absolute;
    animation: spoon 2s infinite forwards;
    left: 42%;
    top: 1000px;
}
@keyframes spoon {
    0% {rotate: 0deg;}
    50% {rotate: -10deg;}
    100% {rotate: 0deg;}
}
#leaf{
    position: absolute;
    left: 45%;
    top: -40px;
    rotate: -50deg;
}

@media only screen and (max-width: 600px) {
    h2{
        font-size: 80px;
        top: 30px;
    }
    #sticker-1{
        left: 73%;
        top: -240px;
    }
    #sticker-2{
         left: 0%;
         top: -220px;
    }
    #sticker-3{
         left: 60%;
         top: -150px;
    }
    #img-1{
        width: 250px;
    }
    #img-2{
        width: 250px;
        top: 0;
        left: 54%;
    }
    #img-3{
        width: 250px;
        top: 330px;
    }
    #img-4{
        width: 250px;
        top: 330px;
        left: 54%;
    }
    #pot{
        width: 150px;
        left: -1%;
        top: 250px;
        rotate: 30deg;
    }
    #shrimp{
        width: 150px;
        top: 550px;
        left: 75%;
    }
    #leaf{
        width: 150px;
        top: 180px;
        left: 65%;
        rotate: 110deg;
    }
    #squig1{
        width: 100px;
        left: 50%;
        top: 200px;
        
    }
    #squig2{
        width: 100px;
        left: 40%;
        top: 580px;
    }
    #spoon{
        width: 150px;
        top: 430px;
    }
    .text-box{
        width: 90%;
        font-size: 18px;
        line-height: 20px;
        border-radius: 120px;
        top: 650px;
        left: 0;
    }
    .review{
        width: 90%;
        font-size: 18px;
        line-height: 20px;
        border-radius: 120px;
        top: 950px;
        left: 0;
    }
    #stars{
        top: 1220px;
        left: 15%;
        width: 400px
    }
    a{
        top: 1400px;
        left: -15%;
    }
    #nextpage{
        top: 1420px;
    }
    #prevpage{
        top: 1440px;
    }
}

@media only screen and (max-width: 932px) {
    h1{
        font-size: 30px
    }
    hr{
        margin-top: -20px
    }
    h2{
        font-size: 50px;
        top: 30px;
        left: 0%
    }
    #sticker-1{
        left: 73%;
        top: -200px;
    }
    #sticker-2{
         left: -5%;
         top: -150px;
    }
    #sticker-3{
         left: 53%;
         top: -100px;
    }
    #img-1{
        width: 150px;
    }
    #img-2{
        width: 150px;
        top: 0;
        left: 54%;
    }
    #img-3{
        width: 150px;
        top: 190px;
    }
    #img-4{
        width: 150px;
        top: 190px;
        left: 54%;
    }
    #pot{
        width: 150px;
        left: -3%;
        top: 300px;
        rotate: 30deg;
    }
    #shrimp{
        width: 120px;
        top: 370px;
        left: 61%;
    }
    #leaf{
        width: 100px;
        top: 100px;
        left: 65%;
        rotate: 90deg;
    }
    #squig1{
        width: 100px;
        left: 40%;
        top: 120px;
    }
    #squig2{
        width: 100px;
        left: 80%;
        top: 300px;
    }
    #spoon{
        width: 150px;
        top: 230px;
        left: 30%;
    }
    .text-box{
        width: 60%;
        font-size: 10px;
        line-height: 10px;
        border-radius: 80px;
        padding: 25px;
        top: 380px;
        left: -5%;
    }
    .review{
        width: 60%;
        font-size: 10px;
        line-height: 10px;
        border-radius: 80px;
        padding: 25px;
        top: 560px;
        left: -5%;
    }
    #stars{
        top: 550px;
        left: 45%;
        width: 250px;
        rotate: 90deg
    }
    a{
        top: 750px;
        left: -20%;
        font-size: 15px;
        padding: 10px;
    }
    #nextpage{
        top: 760px;
        font-size: 15px;
        padding: 10px;
    }
    #prevpage{
        top: 770px;
        font-size: 15px;
        padding: 10px;
        margin-bottom: 50px;
    }
    .pbuttons{
        margin-bottom: 100vh;
    }
}

