/* change page button (add backgrounds) */
body{
    background-image: url(../img/hcc.png);
    font-family: 'space grotesk';
    font-weight: 400;
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
}
@keyframes header-color {
    0% {color: black;}
    30% {color: olive;}
    70% {color: orangered;}
    100% {color: black;}
}
h1{
    text-align: center;
    letter-spacing: -3px;
    font-size: 40px;
    animation: header-color 2s infinite forwards;
}
hr{
    border-bottom: 0;
    border-top: 10px double darkslateblue;
    width: 50%;
}
h2{
    font-family: 'Righteous', cursive;
    font-size: 80px;
    position: relative;
    left: 9%;
    color: darkslateblue;
}
#text-border{
    border: 10px double;
    padding: 20px;
    border-radius: 10px;
    color: darkslateblue;
    margin: 20px;
    font-size: 25px;
    width: 40%;
    position: relative;
    left: 7%;
    top: -700px
}
#text-border:hover{
    border: 10px double lightsalmon;
}
a{
    color: darkslateblue;
    font-size: 20px;
    position: relative;
    left: 9%;
    top: -600px;
    background-color: lightsalmon;
    padding: 10px;
    border-radius: 15px;
}
#nextpage{
    top: -580px;
}
#prevpage{
    top: -560px;
}
a:hover{
    color: lightsalmon;
    background-color: darkslateblue;

}
.img-border{
    position: relative;
    left: 58%;
    top: -350px;
    rotate: 3deg;
}
.img-border:hover{
    rotate: 0deg;
}
#sticker-1{
    position: fixed;
    top: 0px;
    left: 80%;
    rotate: 15deg;
    z-index: 1;
}
#sticker-2{
    position: fixed;
    top: 40px;
    left: 70%;
    z-index: 2;
}
#sticker-3{
    position: fixed;
    top: 5px;
    left: 76.5%;
    z-index: 3;
}
.review{
    border: 10px double;
    padding: 20px;
    border-radius: 10px;
    color: darkslateblue;
    margin: 20px;
    font-size: 30px;
    width: 50%;
    position: relative;
    left: 34%;
    top: -650px;
    line-height: 35px;
    letter-spacing: -1px;
}
.review:hover{
    border: 10px double lightsalmon;
}
#stars{
    position: relative;
    top: 200px;
    left: 10%;
    animation: star1 2s infinite forwards;
}
#stars2{
    position: relative;
    top: 197px;
    left: -9.999%;
    animation: star2 2s infinite forwards;
}
@keyframes star1{
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes star2{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
#dog{
    position: relative;
    left: -4%;
    top: -200px;
    animation: dog 5s infinite forwards;
}
@keyframes dog {
    0% {transform: scaleX(1);}
    50% {transform: scaleX(-1);}
    100% {transform: scaleX(1);}
}