/* change page button (add backgrounds) */
body{
    background-image: url(../img/cdb.png);
    font-family: 'space grotesk';
    font-weight: 400;
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
}
@keyframes header-color {
    0% {color: black;}
    30% {color: darkslateblue;}
    70% {color: darkorange;}
    100% {color: black;}
}
h1{
    text-align: center;
    letter-spacing: -3px;
    font-size: 40px;
    animation: header-color 2s infinite forwards;
}
hr{
    border-bottom: 0;
    border-top: 10px double darkslateblue;
    width: 50%;
}
h2{
    font-family: 'Righteous', cursive;
    font-size: 80px;
    position: relative;
    left: 9%;
    color: darkslateblue;
}
#text-border{
    border: 10px double;
    padding: 20px;
    border-radius: 10px;
    color: darkslateblue;
    margin: 20px;
    font-size: 25px;
    width: 40%;
    position: absolute;
    left: 7%;
    top: -50px;
}
#text-border:hover{
    border: 10px double lightsalmon;
}
a{
    color: darkslateblue;
    font-size: 20px;
    position: relative;
    background-color: lightsalmon;
    padding: 10px;
    border-radius: 15px;
    left: 8%;
    top: 700px;
}
#nextpage{
    top: 730px;
}
#prevpage{
    top: 760px;
}
a:hover{
    color: lightsalmon;
    background-color: darkslateblue;

}
.parent-div{
    position: relative;
}
.img-border{
    position: absolute;
    rotate: 3deg;
    left: 60%;
    top: -100px;
}
.img-border:hover{
    rotate: 0deg;
}
#sticker-1{
    position: absolute;
    rotate: 15deg;
    left: 80%;
    top: -330px;
    z-index: 1;
}
#sticker-2{
    position: absolute;
    z-index: 2;
    left: 70%;
    top: -290px;
}
#sticker-3{
    position: absolute;
    left: 77%;
    top: -320px;
    z-index: 3;
}
.sticker-div{
    position: relative;
}
.review{
    border: 10px double;
    padding: 20px;
    border-radius: 10px;
    color: darkslateblue;
    margin: 20px;
    font-size: 30px;
    width: 50%;
    position: absolute;
    line-height: 35px;
    letter-spacing: -1px;
    left: 40%;
    top: 400px;
}
.review:hover{
    border: 10px double lightsalmon;
}
#stars{
    position: absolute;
    animation: star1 2s infinite forwards;
    left: 10%;
    top: 400px;
}
#stars2{
    position: absolute;
    animation: star2 2s infinite forwards;
    left: 10%;
    top: 400px;
}
@keyframes star1{
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes star2{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
#dog{
    position: absolute;
    animation: dog 5s infinite forwards;
    left: 40%;
    top: -210px;
}
@keyframes dog {
    0% {transform: scaleX(1);}
    50% {transform: scaleX(-1);}
    100% {transform: scaleX(1);}
}