body{
    background-image: url(../img/bbb.png);
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
    font-family: 'space grotesk';
    font-weight: 400;
    color:black;
}
@keyframes header-color {
    0% {color: black;}
    30% {color: brown;}
    70% {color: darkgoldenrod;}
    100% {color: black;}
}
@keyframes text-box {
    0% {border: 7px dotted darkgoldenrod;}
    50% {border: 7px dotted beige;}
    100% {border: 7px dotted darkgoldenrod;}
}
@keyframes review {
    0% {border: 7px dotted beige;}
    50% {border: 7px dotted darkgoldenrod;}
    100% {border: 7px dotted beige;}
}
h1{
    text-align: center;
    font-size: 40px;
    margin: 30px;
    letter-spacing: -3px;
    animation: header-color 2s infinite forwards;
}
hr{
    border-bottom: 0;
    border-top: 4px dotted brown;
    width: 50%;
}
h2{
    font-family: 'Righteous', sans-serif;
    font-size: 70px;
    margin: 50px;
    text-align: center;
    position: relative;
    color: brown;
}
a{
    color: brown;
    margin: 120px;
    font-size: 20px;
    position: relative;
    bottom: 400px;
    background-color: beige;
    padding: 15px;
    margin: 120px;
    border-radius: 15px;
    top: 770px;
}
#next-page{
    top: 800px;
}
#prev-page{
   top: 830px;
}
a:hover{
    color: beige;
    background-color: brown;
}
#img-1{
    position: relative;
    left: 10%;
}
#img-2{
    position: absolute;
    left: 50%;
}
.text-box{
    margin: 50px;
    border: 5px dotted darkgoldenrod;
    background: brown;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    width: 35%;
    color: beige;
    position: absolute;
    animation: text-box 1s infinite forwards;
    left: 5%;
}
.review{
    position: absolute;
    width: 500px;
    word-wrap: break-word;
    margin: 25px;
    background: brown;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 30px;
    width: 35%;
    color: beige;
    animation: review 1s infinite forwards;
    line-height: 35px;
    letter-spacing: -1px;
    left: 50% ;
    top: 900px;
}
.parent-div{
    position: relative;
}
#coke{
    position: absolute;
    rotate: -5deg;
    top: -300px;
    left: 5%;
}
#candle{
    position: absolute;
    animation: candle 2s infinite forwards;
    left: 60%;
}
#stars{
    position: absolute;
    top: 930px;
    left: 10%;
}
#stars:hover{
    rotate: 5deg;
}
#candle2{
    position: absolute;
    animation: candle2 2s infinite  forwards;
    left: 60%;
}
@keyframes candle {
   0% {opacity: 1;}
   50% {opacity: 0;}
   100% {opacity: 1;}
}
@keyframes candle2 {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
#sticker-1{
    position: absolute;
    rotate: 15deg;
    left: 80%;
    top: -270px;
    z-index: 1;
}
#sticker-2{
    position: absolute;
    z-index: 2;
    left: 70%;
    top: -230px;
}
#sticker-3{
    position: absolute;
    left: 77%;
    top: -270px;
    z-index: 3;
}
.sticker-div{
    position: relative;
}