body{
    background-image: url(../img/bbb.png);
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
    font-family: 'space grotesk';
    font-weight: 400;
    color:black;
}
@keyframes header-color {
    0% {color: black;}
    30% {color: brown;}
    70% {color: darkgoldenrod;}
    100% {color: black;}
}
@keyframes text-box {
    0% {border: 7px dotted darkgoldenrod;}
    50% {border: 7px dotted beige;}
    100% {border: 7px dotted darkgoldenrod;}
}
@keyframes review {
    0% {border: 7px dotted beige;}
    50% {border: 7px dotted darkgoldenrod;}
    100% {border: 7px dotted beige;}
}
h1{
    text-align: center;
    font-size: 40px;
    margin: 30px;
    letter-spacing: -3px;
    animation: header-color 2s infinite forwards;
}
hr{
    border-bottom: 0;
    border-top: 4px dotted brown;
    width: 50%;
}
h2{
    font-family: 'Righteous', sans-serif;
    font-size: 70px;
    margin: 50px;
    text-align: center;
    position: relative;
    color: brown;
}
a{
    color: brown;
    margin: 120px;
    font-size: 20px;
    position: relative;
    bottom: 400px;
    background-color: beige;
    padding: 15px;
    margin: 120px;
    border-radius: 15px;
}
#next-page{
    bottom: 370px;
}
#prev-page{
    bottom: 340px;
}
a:hover{
    color: beige;
    background-color: brown;
}
#img-1{
    position: relative;
    top: 10px;
    left: 10%;
    rotate: -5deg;
}
#img-2{
    position: absolute;
    top: 38%;
    left: 55%;
    rotate: 5deg;
}
#img-1:hover{
    rotate: 0deg;
}
#img-2:hover{
    rotate: 0deg;
}
.text-box{
    margin: 50px;
    border: 5px dotted darkgoldenrod;
    background: brown;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    width: 35%;
    color: beige;
    position: relative;
    left: 7%;
    animation: text-box 1s infinite forwards;
}
.review{
    position: relative;
    top: -440px;
    left: 45%;
    width: 500px;
    word-wrap: break-word;
    margin: 25px;
    background: brown;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 30px;
    width: 35%;
    color: beige;
    animation: review 1s infinite forwards;
    line-height: 35px;
    letter-spacing: -1px;
}
#sticker-1{
    position: fixed;
    top: 0px;
    left: 80%;
    rotate: 15deg;
    z-index: 1;
}
#sticker-2{
    position: fixed;
    top: 40px;
    left: 70%;
    z-index: 2;
}
#sticker-3{
    position: fixed;
    top: 10px;
    left: 76.5%;
    z-index: 3;
}
#coke{
    position: relative;
    top: -1300px;
    left: -13%;
    rotate: -5deg;
}
#candle{
    position: relative;
    top: -500px;
    left: 20%;
    animation: candle 2s infinite forwards;
}
#stars{
    position: relative;
    top: -200px;
    left: 15%;
}
#stars:hover{
    rotate: 5deg;
}
#candle2{
    position: relative;
    top: -490px;
    left: -0.5%;
    animation: candle2 2s infinite  forwards;
}
@keyframes candle {
   0% {opacity: 1;}
   50% {opacity: 0;}
   100% {opacity: 1;}
}
@keyframes candle2 {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}