body{
    background-image: url(../img/jwfb.png);
    font-family: 'space grotesk';
    font-weight: 400;
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
}
@keyframes header-color {
    0% {color: black;}
    30% {color:cornflowerblue;}
    70% {color:royalblue;}
    100% {color: black;}
}
h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: -3px;
    animation: header-color 2s infinite forwards;
}
h2{
    font-family: "Edu TAS Beginner";
    color:royalblue;
    font-size: 70px;
    width: 700px;
    letter-spacing: -5px;
    position: relative;
    left: 9%;
}
hr{
    border-top: 5px dashed;
    border-bottom: 0px;
    color: royalblue;
    width: 50%;
}
#sticker-1{
    position: absolute;
    rotate: 15deg;
    left: 80%;
    top: -270px;
    z-index: 1;
}
#sticker-2{
    position: absolute;
    z-index: 2;
    left: 70%;
    top: -250px;
}
#sticker-3{
    position: absolute;
    left: 77%;
    top: -290px;
    z-index: 3;
}
.sticker-div{
    position: relative;
}
#img-1{
    position: relative;
    left: 10%;
    top: -50px;
}
.text-box{
    margin: 50px;
    border: 5px solid royalblue;
    background-color: cornflowerblue;
    border-radius: 50px;
    line-height: 25px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    width: 40%;
    color: beige;
    position: absolute;
    left: 40%;
    top: 20px;
}
.review{
    margin: 50px;
    border: 5px solid royalblue;
    background-color: cornflowerblue;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    width: 40%;
    color: beige;
    position: absolute;
    left: -3%;
    top: 450px;
    line-height: 35px;
    letter-spacing: -1px;
}
a{
    font-size: 20px;
    color: beige;
    position: relative;
    left: 9%;
    top: 520px;
    background-color: cornflowerblue;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
}
#prev-page{
    top: 580px;
}
#next-page{
    top: 550px;
}
a:hover{
    color: beige;
    background-color: darkblue;
}
#button1{
    background-color: cornflowerblue;
    border-radius: 20px;
    color: beige;
    padding: 10px;
    position: absolute;
    font-family: "Edu TAS Beginner";
    top: 1200px;
    left: 9%;
    font-size: 25px;
    cursor: pointer;
    border: 0;
}
#button1:hover{
    background-color: darkslateblue;
}
#img-1s{
    position: absolute;
    left: 65%;
}
#img-2{
    position: absolute;
    left: 45%;
    top: 340px;
}
#img-3{
    position: absolute;
    left: -2%;
    top: 770px;
}
#img-4{
    position: absolute;
    left: 45%;
    top: -150px;
}
@keyframes fish-2 {
    0% {rotate: 0deg; left: -20%;}
    20% {rotate: 15deg;left: 10%;}
    40% {rotate: 0deg; left: 30%;}
    60% {rotate: 15deg; left: 55%;}
    80% {rotate: 0deg; left: 80%;}
    100% {rotate: 15deg; left: 120%;}
}
#star{
    position: absolute;
    left: 36%;
    top: 900px;
}
@media only screen and (max-width: 600px) {
    h2{
        font-size: 50px;
    }
    #sticker-1{
        left: 77%;
        top: -150px;
    }
    #sticker-2{
         left: 1%;
         top: -225px;
    }
    #sticker-3{
         left: 79%;
         top: -200px;
    }
    .text-box{
        width: 450px;
        top: 460px;
        font-size: 20px;
        line-height: 20px;
        padding: 15px;
        left: -5%;
    }
    .review{
        width: 450px;
        top: 660px;
        font-size: 20px;
        line-height: 23px;
        padding: 15px;
        left: -5%;
    }
    #img-1s{
        width: 200px;
        top: 1200px;
        left: 45%;

    }
    #img-2{
        width: 200px;
        left: 50%;
        top: 400px;
        z-index: 1;

    }
    #img-3{
        width: 250px;
        top: 900px;
    }
    #img-4{
        width: 200px;
        left: -20%;
        top: 50px;
        rotate: -40deg;
    }
    #star{
        width: 400px;
        left: 5%;
        top: 1050px;
    }
    a{
        top: 700px;
    }
    #next-page{
        top: 730px;
    }
    #prev-page{
        top: 760px;
    }
}

@media only screen and (max-width: 932px) {
    h1{
        font-size: 30px
    }
    hr{
        margin-top: -20px
    }
    h2{
        font-size: 40px;
        width: 180px;
        top: 50px;
        left: 4%;
        line-height: 40px;
    }
    #sticker-1{
        left: 68%;
        top: -210px;
        width: 150px;
    }
    #sticker-2{
         left: -3%;
         top: -210px;
         width: 150px;
    }
    #sticker-3{
         left: 50%;
         top: -140px;
         width: 150px;
    }
    .text-box{
        width: 46%;
        top: 220px;
        font-size: 15px;
        line-height: 15px;
        padding: 15px;
        left: -22%;
    }
    .review{
        width: 46%;
        top: 220px;
        left: 28%;
        font-size: 15px;
        line-height: 15px;
        padding: 15px;
    }
    #img-1{
        top: 20px;
    }
    #img-1s{
        width: 90px;
        top: -10px;
        left: 69%;
        z-index: 1;
        rotate: 45deg;
    }
    img{
        max-width: 320px;
    }
    #img-2{
        width: 100px;
        left: 62%;
        top: 180px;
        z-index: 1;
    }
    #img-3{
        width: 150px;
        top: 480px;
        left: -15%;
    }
    #img-4{
        width: 200px;
        left: -25%;
        top: 40px;
        rotate: -40deg;
    }
    #star{
        width: 400px;
        left: -5%;
        top: 570px;
    }
    a{
        top: 460px;
        left: 5%;
        font-size: 15px;
        padding: 10px;
    }
    #next-page{
        top: 470px;
    }
    #prev-page{
        top: 480px;
    }
    #button1{
        width: 100px;
        font-size: 13px;
        top: 770px;
        left: 3%;
    }
    .pbuttons{
        margin-bottom: 100vh;
    }
}

