/* change page button (add backgrounds) */
body{
    background-image: url(../img/cdb.png);
    font-family: 'space grotesk';
    font-weight: 400;
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
}
@keyframes header-color {
    0% {color: black;}
    30% {color: darkslateblue;}
    70% {color: darkorange;}
    100% {color: black;}
}
h1{
    text-align: center;
    letter-spacing: -3px;
    font-size: 40px;
    animation: header-color 2s infinite forwards;
}
hr{
    border-bottom: 0;
    border-top: 10px double darkslateblue;
    width: 50%;
}
h2{
    font-family: 'Righteous', cursive;
    font-size: 80px;
    position: relative;
    left: 9%;
    color: darkslateblue;
}
#text-border{
    border: 10px double;
    padding: 20px;
    border-radius: 10px;
    color: darkslateblue;
    margin: 20px;
    font-size: 25px;
    width: 40%;
    position: absolute;
    left: 7%;
    top: -50px;
}
#text-border:hover{
    border: 10px double lightsalmon;
}
a{
    color: darkslateblue;
    font-size: 20px;
    position: relative;
    background-color: lightsalmon;
    padding: 10px;
    border-radius: 15px;
    left: 8%;
    top: 700px;
    text-decoration: none;
}
#nextpage{
    top: 730px;
}
#prevpage{
    top: 760px;
}
a:hover{
    color: lightsalmon;
    background-color: darkslateblue;

}
.parent-div{
    position: relative;
}
.img-border{
    position: absolute;
    rotate: 3deg;
    left: 60%;
    top: -100px;
}
.img-border:hover{
    rotate: 0deg;
}
#sticker-1{
    position: absolute;
    rotate: 15deg;
    left: 80%;
    top: -330px;
    z-index: 1;
}
#sticker-2{
    position: absolute;
    z-index: 2;
    left: 70%;
    top: -290px;
}
#sticker-3{
    position: absolute;
    left: 77%;
    top: -320px;
    z-index: 3;
}
.sticker-div{
    position: relative;
}
.review{
    border: 10px double;
    padding: 20px;
    border-radius: 10px;
    color: darkslateblue;
    margin: 20px;
    font-size: 30px;
    width: 50%;
    position: absolute;
    line-height: 35px;
    letter-spacing: -1px;
    left: 40%;
    top: 400px;
}
.review:hover{
    border: 10px double lightsalmon;
}
#stars{
    position: absolute;
    animation: star1 2s infinite forwards;
    left: 10%;
    top: 400px;
}
#stars2{
    position: absolute;
    animation: star2 2s infinite forwards;
    left: 10%;
    top: 400px;
}
@keyframes star1{
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes star2{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
#dog{
    position: absolute;
    animation: dog 5s infinite forwards;
    left: 40%;
    top: -210px;
}
@keyframes dog {
    0% {transform: scaleX(1);}
    50% {transform: scaleX(-1);}
    100% {transform: scaleX(1);}
}

@media only screen and (max-width: 600px) {
    h2{
        font-size: 50px;
    }
    #sticker-1{
        left: 77%;
        top: -150px;
    }
    #sticker-2{
         left: 1%;
         top: -225px;
    }
    #sticker-3{
         left: 79%;
         top: -200px;
    }
    .img-border{
        left: 5%;
        rotate: 0deg;
        top: -80px;
    }
    .img-border:hover{
        rotate: 0deg
    }
    .review{
        font-size: 20px;
        line-height: 20px;
        left: 5%;
        width: 400px;
        top: 500px;
    }
    #text-border{
        font-size: 20px;
        line-height: 20px;
        left: 5%;
        width: 400px;
        top: 630px;
        top: 730px;
    }
    a{
        top: 1050px
    }
    #nextpage{
        top: 1070px;
    }
    #prevpage{
        top: 1090px;
    }
    #dog{
        top: 1030px;
        width: 190px;
        left: 60%;
    }
}

@media only screen and (max-width: 932px) {
    h1{
        font-size: 30px
    }
    hr{
        margin-top: -20px
    }
    h2{
        font-size: 50px;
        top: 20px;
    }
    #sticker-1{
        left: 74%;
        top: -220px;
        width: 150px;
    }
    #sticker-2{
         left: -2%;
         top: -210px;
         width: 150px;
    }
    #sticker-3{
         left: 56%;
         top: -150px;
         width: 150px;
    }
    .img-border{
        left: 5%;
        rotate: 0deg;
        top: -50px;
    }
    img{
        max-width: 370px;
    }
    .img-border:hover{
        rotate: 0deg
    }
    .review{
        font-size: 15px;
        line-height: 15px;
        left: 5%;
        width: 40%;
        top: 630px;
        padding: 10px;
    }
    #text-border{
        font-size: 15px;
        line-height: 15px;
        left: 5%;
        width: 40%;
        top: 400px;
        padding: 10px;
    }
    a{
        top: 880px;
    }
    #nextpage{
        top: 1070px;
        display: none;
    }
    #prevpage{
        top: 1090px;
        display: none;
    }
    #dog{
        top: 420px;
        width: 190px;
        left: 60%;
    }
    #stars{
        top: 300px;
        left: 5%;
    }
    #stars2{
        top: 300px;
        left: 5%;
    }
}

