/* add more window sizes for media responsive */
body{
    background-image: url(../img/cdb.png);
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
    font-family: 'space grotesk';
    font-weight: 400;
}
@keyframes header-color {
    0% {color: black;}
    30% {color: darkblue;}
    70% {color: orange;}
    100% {color: black;}    
}
#sticker-1{
    position: relative;
    top: -150px;
    left: 80%;
    rotate: 15deg;
    z-index: 1;
}
#sticker-2{
    position: relative;
    top: -530px;
    left: 70%;
    z-index: 2;
}
#sticker-3{
    position: relative;
    top: -715px;
    left: 76.5%;
    z-index: 3;
}
h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: -3px;
    animation: header-color 2s infinite forwards;
}
h2{
    font-family: 'Handjet', sans-serif;
    color: darkblue;
    font-size: 120px;
    margin: 45px;
    position: relative;
    left: 4%;
}
a{
    color: aliceblue;
    margin: 40px;
    font-size: 20px;
    position: relative;
    top: 270px;
    left: 5%;
    background-color: darkblue;
    padding: 10px;
    margin: 50px;
    border-radius: 15px;
    text-decoration: none;
}
#next-page{
    top: 290px;
}
a:hover{
    color:darkblue;
    background-color: orange;
}
div{
    margin: 30px;
}
hr{
    border-bottom: 0;
    border-top: 4px solid darkblue;
    width: 50%;
}
#hotdogbutton{
    background-color: blue;
    border-radius: 20px;
    color: beige;
    padding: 10px;
    position: absolute;
    font-family: "handjet";
    top: 170px;
    left: 55%;
    font-size: 20px;
    cursor: pointer;
}
#hotdogbutton:hover{
    background: darkblue;
}
.text-border{
    background-color: darkblue;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 58%;
    width: 35%;
    color:#CEE6BD;
    line-height: 10px;
    animation: text-border 2s infinite forwards;
}
@keyframes text-border{
    0% {border: 5px orange dotted;}
    50% {border: 8px orange dotted;}
   100% {border: 5px orange dotted;}
}
#img-border{
    position: relative;
    left: 5%;
    top: -530px;
    rotate: -5deg;
    margin: 20px;
}
#img-border:hover{
    rotate: 5deg;
}
.review{
    position: absolute;
    background-color: darkblue;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    left: 3%;
    top: 800px;
    font-size: 35px;
    margin: 80px;
    color:#CEE6BD;
    width: 800px;
    word-wrap: break-word;
    line-height: 35px;
    letter-spacing: -1px;
    animation: text-border 2s infinite forwards;
}
#hot-dog-1{
    position: absolute;
    left: 40%;
    top: 120px;
}
#hotdog2{
    position: absolute;
    left: 40%;
    top: 120px;
    opacity: 0;
}
#stars{
    position: absolute;
    left: 55%;
    top: 240px;
}
#g1{
    position: absolute;
    left: 70%;
    top: 700px;
    animation: pac-ghost 2s infinite  forwards;
}
@keyframes pac-ghost {
    0% {top: 700px;}
    50% {top: 750px;}
    100% {top: 700px;}
}
#g2{
    position: absolute;
    left: 70%;
    top: 1250px;
    animation: she-ghost 5s infinite forwards;
}
@keyframes she-ghost {
    0% {left: 70%;}
    50% {left: 5%;}
    100% {left: 70%;}
}
#ketchup{
    position: absolute;
    top: -250px;
    left: -15%;
    animation: ketchup 2s infinite forwards;
}
#ketchup2{
    position: absolute;
    top: -450px;
    left: 60%;
    animation: ketchup2 2s infinite forwards;
}
@keyframes ketchup {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
 }
 @keyframes ketchup2 {
     0% {opacity: 0;}
     50% {opacity: 1;}
     100% {opacity: 0;}
 }


 @media only screen and (max-width: 600px) {
    h2{
        font-size: 80px;
        top: 50px;
        left: -5%;
    }
    #sticker-1{
        left: 68%;
        top: -200px;
    }
    #sticker-2{
         left: -10%;
         top: -480px;
    }
    #sticker-3{
         left: 55%;
         top: -580px;
    }
    #img-border{
        rotate: 0deg;
        top: -80px;
        width: 500px;
        left: -5%;
        top: -520px;
    }
    #img-border:hover{
        rotate: 0deg
    }
    .review{
        font-size: 20px;
        line-height: 20px;
        width: 400px;
        top: 960px;
        left: -10%;
    }
    .text-border{
        font-size: 20px;
        line-height: 20px;
        left: 5%;
        width: 400px;
        top: 760px;
        left: -2%;
    }
    a{
        top: 240px;
        left: -5%
    }
    #next-page{
        top: 260px;
        left: -5%;
    }
    #hot-dog-1{
        width: 170px;
        left: 30%;
        top: 110px;
    }
    #hotdog2{
        width: 170px;
        left: 30%;
        top: 110px;  
    }
    #stars{
        top: 630px;
        left: -2%;
    }
    #hotdogbutton{
        top: 220px;
        left: 52%;
        width: 100px;
        font-size: 15px;
    }
    #g1{
        width: 100px;
        left: 80%;
        top: 1000px;
        animation-duration: 5s;
    }
    @keyframes pac-ghost {
        0% {top: 800px;}
        50% {top: 1000px;}
        100% {top:800px;}
    }
    #g2{
        width: 100px;
        top: 1300px;
    }
}

@media only screen and (max-width: 932px) {
    h2{
        font-size: 80px;
        left: -10%;
        top: 20px;
    }
    h1{
        font-size: 30px
    }
    hr{
        margin-top: -20px
    }
    #sticker-1{
        left: 70%;
        top: -210px;
    }
    #sticker-2{
         left: -20%;
         top: -470px;
    }
    #sticker-3{
         left: 40%;
         top: -570px;
    }
    #img-border{
        rotate: 0deg;
        top: 0px;
        width: 400px;
        left: -10%;
        top: -550px;
    }
    .review{
        font-size: 12px;
        line-height: 12px;
        width: 200px;
        top: 770px;
        left: 33%;
        padding: 10px;
    }
    .text-border{
        font-size: 12px;
        line-height: 12px;
        width: 200px;
        left: -10%;
        top: 660px;
        left: -5%;
        padding: 10px;
    }
    a{
        top: -80px;
        left: -20%;
    }
    #next-page{
        top: -70px;
        left: -20%;
    }
    #hot-dog-1{
        width: 200px;
        left: -5%;
        top: 510px;  
    }
    #hotdog2{
        width: 200px;
        left: -5%;
        top: 510px;  
    }
    #stars{
        top: 600px;
        left: 30%;
        width: 300px;
    }
    #hotdogbutton{
        top: 520px;
        left: 25%;
        width: 150px;
        font-size: 15px;
    }
    #g1{
        width: 100px;
        left: 78%;
        top: 1000px;
        animation-duration: 5s;
    }
    @keyframes pac-ghost {
        0% {top: 680px;}
        50% {top: 750px;}
        100% {top:680px;}
    }
    #g2{
        width: 100px;
        top: 870px;
    }
    @keyframes she-ghost {
        0% {left: 2%;}
        50% {left: 25%;}
        100% {left: 2%;}
    }
    .pbuttons{
        margin-bottom: 20vh;
    }
}




