body{
    background-image: url(../img/cdb.png);
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
    font-family: 'space grotesk';
    font-weight: 400;
}
@keyframes header-color {
    0% {color: black;}
    30% {color: darkblue;}
    70% {color: orangered;}
    100% {color: black;}    
}
#sticker-1{
    position: fixed;
    top: -20px;
    left: 80%;
    rotate: 15deg;
    z-index: 1;
}
#sticker-2{
    position: fixed;
    top: 40px;
    left: 70%;
    z-index: 2;
}
#sticker-3{
    position: fixed;
    top: 0;
    left: 76.5%;
    z-index: 3;
}
h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: -3px;
    animation: header-color 2s infinite forwards;
}
h2{
    font-family: 'Handjet', sans-serif;
    color: darkblue;
    font-size: 120px;
    margin: 45px;
    position: relative;
    left: 4%;
}
a{
    color: aliceblue;
    margin: 40px;
    font-size: 20px;
    position: relative;
    top: -400px;
    left: 5%;
    background-color: darkblue;
    padding: 10px;
    margin: 50px;
    border-radius: 15px;
}
#next-page{
    top: -380px;
}
a:hover{
    color:darkblue;
    background-color: orange;
}
div{
    margin: 30px;
}
hr{
    border-bottom: 0;
    border-top: 4px solid darkblue;
    width: 50%;
}
.text-border{
    background-color: darkblue;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 55%;
    width: 35%;
    color:#CEE6BD;
    line-height: 10px;
    animation: text-border 2s infinite forwards;
}
@keyframes text-border{
    0% {border: 5px orange dotted;}
    50% {border: 8px orange dotted;}
   100% {border: 5px orange dotted;}
}
#img-border{
    position: relative;
    left: 2%;
    top: -770px;
    rotate: -5deg;
    margin: 20px;
}
#img-border:hover{
    rotate: 5deg;
}
.review{
    position: relative;
    background-color: darkblue;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    left: 3%;
    top: -750px;
    font-size: 35px;
    margin: 80px;
    color:#CEE6BD;
    width: 800px;
    word-wrap: break-word;
    line-height: 35px;
    letter-spacing: -1px;
    animation: text-border 2s infinite forwards;
}
#hot-dog-1{
    position: relative;
    left: 35%;
    top: -700px;
}
#hot-dog-1:hover{
    opacity:0%
}
#hot-dog-2{
    opacity: 0;
    position: relative;
    left: 14%;
    top: -700px
}
#hot-dog-2:hover{
    opacity: 100%;
}
#stars{
    position: relative;
    left: 55%;
    top: 150px;
}
#g1{
    position: relative;
    left: 28%;
    top: 500px;
    animation: pac-ghost 2s infinite  forwards;
}
@keyframes pac-ghost {
    0% {top: 500px;}
    50% {top: 550px;}
    100% {top: 500px;}
}
#g2{
    position: relative;
    left: 14%;
    top: 1000px;
    animation: she-ghost 5s infinite forwards;
}
@keyframes she-ghost {
    0% {left: 14%;}
    50% {left: -54%;}
    100% {left: 14%;}
}
#ketchup{
    position: relative;
    top: -250px;
    left: -15%;
    animation: ketchup 2s infinite forwards;
}
#ketchup2{
    position: relative;
    top: -450px;
    left: 60%;
    animation: ketchup2 2s infinite forwards;
}
@keyframes ketchup {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
 }
 @keyframes ketchup2 {
     0% {opacity: 0;}
     50% {opacity: 1;}
     100% {opacity: 0;}
 }