body{
    background-image: url(../img/bbb.png);
    font-family: 'space grotesk';
    font-weight: 400;
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
}
@keyframes header-color {
    0% {color: black;}
    30% {color: darkred;}
    70% {color: orange;}
    100% {color: black;}
}
h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: -3px;
    animation: header-color 2s infinite forwards;
}
h2{
    font-family: 'Urbanist', sans-serif;
    color: darkred;
    font-size: 70px;
    width: 500px;
    position: relative;
    left: 9%;
}
hr{
    border-top: 5px dashed;
    border-bottom: 0px;
    color: darkred;
    width: 50%;
}
#sticker-1{
    position: absolute;
    rotate: 15deg;
    left: 80%;
    top: -370px;
    z-index: 1;
}
#sticker-2{
    position: absolute;
    z-index: 2;
    left: 70%;
    top: -330px;
}
#sticker-3{
    position: absolute;
    left: 77%;
    top: -370px;
    z-index: 3;
}
.parent-div{
    position:relative
}
.sticker-div{
    position: relative;
}
#img-1{
    position: absolute;
    left: 10%;
    top: -50px;
}
#img-2{
    position: absolute;
    left: 40%;
    top: -50px;
   
}
.text-box{
    margin: 50px;
    border: 7px dotted orange;
    background-color: darkred;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    width: 35%;
    color: orange;
    position: absolute;
    animation: text-box 1s infinite forwards;
    top: 550px;
    left: 5%;
}
.review{
    margin: 50px;
    border: 7px dotted orange;
    background-color: darkred;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    width: 35%;
    color: orange;
    position: absolute;
    animation: review-box 1s infinite forwards;
    line-height: 35px;
    letter-spacing: -1px;
    left: 50%;
    top: 550px;
}
a{
    font-size: 20px;
    color: darkred;
    position: relative;
    left: 8%;
    top: 1100px;
    background-color: orange;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
}
#next-page{
    top: 1130px;
}
#prev-page{
    top:1160px;
}
a:hover{
    color: orange;
    background-color: darkred;
}
@keyframes text-box {
    0% {border: 10px dotted orange;}
    50% {border: 10px dotted palegoldenrod;}
    100% {border: 10px dotted orange;}
}
@keyframes review-box {
    0% {border: 10px dotted palegoldenrod;}
    50% {border: 10px dotted orange;}
    100% {border: 10px dotted palegoldenrod;}
}
#img3{
    position: absolute;
    top: 370px;
    left: 58%;
    /* garlic */
}
#img4{
    position: absolute;
    left: 67%;
    /* lassi */
}
#img5{
    position: absolute;
    animation: pot 2s infinite forwards;
    left: 50%;
    top: -200px;
    /* pot */
}
@keyframes pot {
    0% {rotate: 0deg;}
    50% {rotate: 10deg}
    100% {rotate: 0deg;}
}

@media only screen and (max-width: 600px) {
    h2{
        font-size: 50px;
        width: 70px;
        line-height: 45px;
    }
    #sticker-1{
        left: 77%;
        top: -230px;
    }
    #sticker-2{
         left: 1%;
         top: -300px;
    }
    #sticker-3{
         left: 79%;
         top: -300px;
    }
    #img5{
        width: 180px;
        left: 40%;
        top: -150px;
    }
    #img-1{
        width: 250px;
        top: -20px;
    }
    #img-2{
        width: 250px;
        top: 330px;
        left: 50%;
    }
    #img4{
        left: 37%;
    }
    .review{
        font-size: 20px;
        width: 400px;
        line-height: 23px;
        left: 0;
        top: 950px;
    }
    .text-box{
        font-size: 20px;
        width: 400px;
        line-height: 23px;
        left: 0;
        top: 650px;
    }
    #img3{
        /* garlic */
        left:7%;
    }
    a{
        top: 1280px;
    }
    #next-page{
        top: 1300px;
    }
    #prev-page{
        top: 1320px;
    }
}

@media only screen and (max-width: 932px) {
    h1{
        font-size: 30px
    }
    hr{
        margin-top: -20px
    }
    h2{
        font-size: 50px;
        width: 70px;
        left: 2%;
        line-height: 45px;
    }
    #sticker-1{
        left: 73%;
        top: -300px;
    }
    #sticker-2{
         left: -5%;
         top: -280px;
    }
    #sticker-3{
         left: 53%;
         top: -200px;
    }
    #img5{
        width: 140px;
        left: 53%;
        top: -100px;
        /* pot */
    }
    #img-1{
        width: 150px;
        top: -20px;
        left: 5%;
    }
    #img-2{
        width: 150px;
        top: -10px;
        left: 50%;
    }
    #img4{
        left: 55%;
        top: 50px;
        width: 250px;
        rotate: 20deg;
        /* lassi */
    }
    .review{
        font-size: 15px;
        width: 45%;
        line-height: 15px;
        left: 40%;
        top: 200px;
        animation: review-box 1s infinite forwards;
    }
    .text-box{
        font-size: 15px;
        width: 45%;
        line-height: 15px;
        left: -9%;
        top: 200px;
        animation: text-box 1s infinite forwards;
    }
    #img3{
        /* garlic */
        left: 2%;
        width: 100px;
        top: 130px;
    }
    a{
        top: 580px;
        font-size: 15px;
        padding: 10px;
    }
    #next-page{
        top: 590px;
    }
    #prev-page{
        top: 600px;
    }
    @keyframes text-box {
        0% {border: 5px dotted orange;}
        50% {border: 5px dotted palegoldenrod;}
        100% {border: 5px dotted orange;}
    }
    @keyframes review-box {
        0% {border: 5px dotted palegoldenrod;}
        50% {border: 5px dotted orange;}
        100% {border: 5px dotted palegoldenrod;}
    }
    .pbuttons{
        margin-bottom: 100vh;
    }
}