/* change page button (add backgrounds) */
body{
    background-image: url(../img/bbb.png);
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
    font-family: 'space grotesk';
    font-weight: 400;
}
@keyframes header-color {
    0% {color: black;}
    30% {color: brown;}
    70% {color: coral;}
    100% {color: black;}
}
h1{
    color: black;
    letter-spacing: -3px;
    text-align: center;
    font-size: 40px;
    animation: header-color 2s infinite forwards;
}
h2{
    font-family:'Odibee Sans', cursive;
    font-size: 130px;
    margin: 20px;
    color: brown;
    position: relative;
    left: 7%;
}
hr{
    border-top: 5px dashed;
    border-bottom: 0px;
    color: coral;
    width: 50%;
}
a{
    color: beige;
    font-size: 20px;
    margin: 110px;
    position: relative;
    top: 1900px;
    background-color: brown;
    padding: 10px;
    border-radius: 15px;
}
#nextpage{
    top: 1930px;
}
#prevpage{
    top: 1960px;
}
a:hover{
    color:brown;
    background-color: coral;
}
.parent-div{
    position: relative;
}
#sticker-1{
    position: absolute;
    rotate: 15deg;
    left: 80%;
    top: -270px;
    z-index: 1;
}
#sticker-2{
    position: absolute;
    z-index: 2;
    left: 70%;
    top: -230px;
}
#sticker-3{
    position: absolute;
    left: 77%;
    top: -270px;
    z-index: 3;
}
.sticker-div{
    position: relative;
}
#img-1{
    position: absolute;
    left: 5%;
}
#img-2{
    position: absolute;
    left: 50%;
    top: 200px;
}
#img-3{
    position: absolute;
    left: 5%;
    top: 660px;
}
#img-4{
    position: absolute;
    left: 50%;
    top: 760px;
}
.text-box{
    background-color: brown;
    border-radius: 150px;
    color: beige;
    width: 40%;
    margin: 30px;
    padding: 50px;
    box-sizing: border-box;
    border: 10px double coral;
    font-size: 20px;
    position: absolute;
    line-height: 25px;
    letter-spacing: -1px;
    left: 45%;
    top: 1300px;
}
.review{
    background-color: brown;
    border-radius: 150px;
    color: beige;
    width: 40%;
    margin: 30px;
    padding: 50px;
    box-sizing: border-box;
    border: 10px double coral;
    font-size: 30px;
    position: absolute;
    line-height: 30px;
    letter-spacing: -1px;
    left: 2%;
    top: 1300px;
}
.text-box:hover{
    border: 10px double beige
}
.review:hover{
    border: 10px double beige;
}
#stars{
    position: absolute;
    left: 20%;
    top: 1670px;
}
#pot{
    position: absolute;
    left: 50%;
    top: -150px;
}
#shrimp{
    position: absolute;
    left: 65%;
    top: -50px;
}
#squig1{
    position: absolute;
    left: 43%;
    top: 500px;
}
#squig2{
    position: absolute;
    rotate: 50deg;
    left: 31%;
    top: 1080px;
}
#spoon{
    position: absolute;
    animation: spoon 2s infinite forwards;
    left: 42%;
    top: 1000px;
}
@keyframes spoon {
    0% {rotate: 0deg;}
    50% {rotate: -10deg;}
    100% {rotate: 0deg;}
}
#leaf{
    position: absolute;
    left: 45%;
    top: -40px;
    rotate: -50deg;
}