/* change page button (add backgrounds) */
body{
    background-image: url(../img/hcc.png);
    font-family: 'space grotesk';
    font-weight: 400;
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
}
@keyframes header-color {
    0% {color: black;}
    30% {color: olive;}
    70% {color: orangered;}
    100% {color: black;}
}
h1{
    text-align: center;
    letter-spacing: -3px;
    font-size: 40px;
    animation: header-color 2s infinite forwards;
}
h2{
    font-family: 'Fasthand', cursive;
    font-size: 150px;
    margin: 10px;
    color: darkred;
    position: relative;
    left: 10%;
}
hr{
    border-top: 5px dotted darkred;
    border-bottom: 0;
    width: 50%;
}
a{
    color: darkred;
    font-size: 20px;
    position: relative;
    left: 10%;
    top: -200px;
    background-color: burlywood;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
}
#nextpage{
    top: -180px;
}
#prevpage{
    top: -160px;
}
a:hover{
    color: burlywood;
    background-color: brown;
}
#sticker-b{
    position: relative;
    left: 60%;
    top: 400px;
    opacity: 1;
    z-index: 1;
    opacity: 1;
}
#sticker-1{
    position: fixed;
    top: 0px;
    left: 80%;
    rotate: 15deg;
    z-index: 1;
}
#sticker-2{
    position: fixed;
    top: 40px;
    left: 70%;
    z-index: 2;
}
#sticker-3{
    position: fixed;
    top: 8px;
    left: 76.5%;
    z-index: 3;
}
#img-1{
    position: relative;
    left: 5%;
    top: -30px;
    rotate: -5deg;
}
#img-2{
    position: absolute;
    left: 50%;
    top: 30%;
    rotate: 5deg;
}
.text-box{
    font-size: 25px;
    position: relative;
    top: -180px;
    left: 10%;
    width: 35%;
    color: darkred;
    border: 5px dotted darkred;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    line-height: 25px;
    letter-spacing: -1px;
    animation: text 1s infinite forwards;
}
.text-box:hover{
    border: 5px dotted darkorange;
}
.review{
    font-size: 25px;
    position: relative;
    top: -450px;
    left: 50%;
    color: darkred;
    word-wrap: break-word;
    width: 400px;
    border: 5px dotted darkred;
    border-radius: 50px;
    padding: 20px;
    line-height: 25px;
    letter-spacing: -1px;
    animation: text 1s infinite forwards;
}
.review:hover{
    border: 5px dotted darkorange;
}
#stars{
    position: relative;
    top: 300px;
    left: 30%;
}
#ruby1{
    position: relative;
    top: -650px;
    left: -5%;
    rotate: -20deg;
}
#ruby2{
    position: relative;
    top: -800px;
    left: -10%;
}
#drink{
    position: relative;
    left: 7%;
    top: -300px;
    rotate: 3deg;
}
@keyframes burg {
    0% {rotate: -5deg;}
    50% {rotate: 0deg;}
    100% {rotate: -5deg;}
}
#burger{
    position: relative;
    left: -35%;
    top: -200px;
    rotate: -5deg;
    animation: burg 2s infinite forwards;
}
@keyframes text {
    0% {border: 5px dotted darkred;}
    50% {border: 5px dotted darkorange}
    100% {border: 5px dotted darkred;}
}