/* change page button (add backgrounds) */
body{
    background-image: url(../img/hcc.png);
    font-family: 'space grotesk';
    font-weight: 400;
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
}
@keyframes header-color {
    0% {color: black;}
    30% {color: olive;}
    70% {color: orangered;}
    100% {color: black;}
}
h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: -3px;
    animation: header-color 2s infinite forwards;
}
h2{
    font-family: 'Urbanist', sans-serif;
    color: darkred;
    font-size: 70px;
    width: 420px;
    position: relative;
    left: 9%;
}
hr{
    border-top: 5px dashed;
    border-bottom: 0px;
    color: darkred;
    width: 50%;
}
#sticker-1{
    position: fixed;
    top: 0px;
    left: 80%;
    rotate: 15deg;
    z-index: 1;
}
#sticker-2{
    position: fixed;
    top: 40px;
    left: 70%;
    z-index: 2;
}
#sticker-3{
    position: fixed;
    top: 5px;
    left: 76.5%;
    z-index: 3;
}
#img-1{
    position: relative;
    left: 10%;
    rotate: 5deg;
}
#img-2{
    position: relative;
    left: 20%;
    top: -100px;
    rotate: -8deg;
}
#img-1:hover{
    rotate: 0deg;
}
#img-2:hover{
    rotate: -3deg;
}
.text-box{
    margin: 50px;
    border: 7px dotted orange;
    background-color: darkred;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    width: 35%;
    color: orange;
    position: relative;
    left: 7%;
    animation: text-box 1s infinite forwards;
}
.review{
    margin: 50px;
    border: 7px dotted orange;
    background-color: darkred;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    width: 35%;
    color: orange;
    position: relative;
    left: 45%;
    top: -375px;
    animation: review-box 1s infinite forwards;
    line-height: 35px;
    letter-spacing: -1px;
}
a{
    font-size: 30px;
    color: darkred;
    position: relative;
    left: 8%;
    top: -200px;
}
a:hover{
    color: orange;
}
@keyframes text-box {
    0% {border: 10px dotted orange;}
    50% {border: 10px dotted palegoldenrod;}
    100% {border: 10px dotted orange;}
}
@keyframes review-box {
    0% {border: 10px dotted palegoldenrod;}
    50% {border: 10px dotted orange;}
    100% {border: 10px dotted palegoldenrod;}
}