/* change page button (add backgrounds) */
body{
    background-image: url(../img/mbc.png);
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
    font-family: 'space grotesk';
    font-weight: 400;
}
@keyframes header-color {
    0% {color: beige;}
    30% {color: lightpink;}
    70% {color: mediumvioletred;}
    100% {color: beige;}
}
h1{
    color: lightpink;
    letter-spacing: -3px;
    text-align: center;
    font-size: 40px;
    animation: header-color 2s infinite forwards;
}
h2{
    font-family:'Voltaire';
    font-size: 130px;
    margin: 20px;
    color: lightpink;
    position: relative;
    left: 7%;
}
hr{
    border-top: 5px dashed;
    border-bottom: 0px;
    color: beige;
    width: 50%;
}
a{
    color: mediumvioletred;
    font-size: 20px;
    margin: 110px;
    position: absolute;
    top: 1000px;
    background-color: lightpink;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
}
#prev-page{
    top: 1120px;
}
#next-page{
    top: 1060px;
}
a:hover{
    color:lightpink;
    background-color: darkslategray;
}
#sticker-1{
    position: absolute;
    rotate: 15deg;
    left: 80%;
    top: -270px;
    z-index: 1;
}
#sticker-2{
    position: absolute;
    z-index: 2;
    left: 70%;
    top: -250px;
}
#sticker-3{
    position: absolute;
    left: 77%;
    top: -290px;
    z-index: 3;
}
.sticker-div{
    position: relative;
}
.text-box{
    border-radius: 80px;
    color: lightpink;
    width: 40%;
    margin: 30px;
    padding: 50px;
    box-sizing: border-box;
    border: 5px solid lightpink;
    font-size: 25px;
    position: absolute;
    top: 600px;
    left: 50%;
    line-height: 25px;
    letter-spacing: -1px;
}
.review{
    border-radius: 80px;
    color: lightpink;
    width: 40%;
    margin: 30px;
    padding: 50px;
    box-sizing: border-box;
    border: 5px solid lightpink;
    font-size: 30px;
    position: absolute;
    line-height: 30px;
    letter-spacing: -1px;
    top: 600px;
    left: 5%;
}
#img1{
    position: absolute;
    top: -5%;
    left: 10%;
}
#img2{
    position: absolute;
    top: -5%;
    left: 40%;
}
#img3{
    position: absolute;
    top: -5%;
    left: 70%;
}
.parent-div{
    position: relative;
}
#pasta{
    position: absolute;
    left: 55%;
    top: -150px;
    rotate: 15deg;
    animation: pasta 3s infinite forwards;
}
@keyframes pasta {
    0% {rotate: 15deg}
    50% {rotate: 0deg}
    100% {rotate: 15deg}
}
#bow{
    position: absolute;
    left: 84%;
    top: 570px;
    rotate: -10deg;
}
#fork{
    position: absolute;
    top: -30px;
    left: 35%;
    rotate: 160deg;
}
#stars{
    position: absolute;
    left: 30%;
    top: 1000px;
}
#wine{
    position: absolute;
    top: 450px;
    left: 2%;
}
#cheese{
    position: absolute;
    top: 400px;
    left: 23%;
}
@media only screen and (max-width: 600px) {
    h2{
        font-size: 75px;
    }
    #img1{
        width: 200px;
        margin: 60px;
        left: -5%;
        top: -50px;
    }
    #img2{
        width: 200px;
        margin: 60px;
        left: 35%;
        top: -50px;
    }
    #img3{
        width: 200px;
        margin: 60px;
        left: 18%;
        top: 250px;
    }
    #sticker-1{
       left: 77%;
       top: -130px;
    }
    #sticker-2{
        left: 1%;
        top: -225px;
    }
    #sticker-3{
        left: 79%;
        top: -200px;
    }
    #pasta{
        width: 150px;
        top: 300px;
        left: 50%;
    }
    #cheese{
        width: 110px;
        left: 5%;
    }
    #wine{
        left: 70%;
        width: 130px;
        top: 400px;
    }
    .review{
        padding: 15px;
        border-radius: 60px;
        top: 850px;
        width: 400px;
        font-size: 20px;
        line-height: 20px;
    }
    .text-box{
        padding: 15px;
        border-radius: 60px;
        width: 400px;
        left: 5%;
        font-size: 20px;
        line-height: 20px;
    }
    a{
        left: -10%;
        top: 1100px;
    }
    #prev-page{
        top: 1240px;
    }
    #next-page{
        top: 1170px;
    }
    #stars{
        width: 400px;
        top: 1080px;
        left: 10%;
    }
    #bow{
        width: 160px;
        left: 68%;
        top: 600px;
        rotate: 20deg;
    }
}

@media only screen and (max-width: 932px) {
    h1{
        font-size: 30px
    }
    hr{
        margin-top: -20px
    }
    h2{
        font-size: 50px;
        top: 50px;
        left: -2%;
    }
    #img1{
        margin: 60px;
        left: -10%;
        top: -50px;
        max-width: 150px;
    }
    #img2{
        max-width: 150px;
        margin: 60px;
        left: 35%;
        top: -50px;
    }
    #img3{
        max-width: 150px;
        margin: 60px;
        left: -10%;
        top: 200px;
    }
    #sticker-1{
       left: 74%;
       top: -200px;
    }
    #sticker-2{
        left: -2%;
        top: -160px;
    }
    #sticker-3{
        left: 50%;
        top: -100px;
    }
    #pasta{
        width: 150px;
        top: 230px;
        left: 25%;
    }
    #cheese{
        width: 110px;
        left: 50%;
        top: 350px;
    }
    #wine{
        left: 70%;
        width: 150px;
        top: 200px;
    }
    .review{
        padding: 10px;
        border-radius: 40px;
        top: 480px;
        left: 40%;
        width: 40%;
        font-size: 15px;
        line-height: 15px;
    }
    .text-box{
        padding: 10px;
        border-radius: 40px;
        top: 480px;
        width: 40%;
        left: -3%;
        font-size: 15px;
        line-height: 15px;
    }
    a{
        left: -20%;
        top: 740px;
        font-size: 15px;
        pad: 10px;
    }
    #next-page{
        top: 790px;
    }
    #prev-page{
        top: 840px;
    }
    #stars{
        width: 380px;
        top: 740px;
        left: 0%;
    }
    #bow{
        width: 100px;
        left: 68%;
        top: 650px;
        rotate: -5deg;
    }
    #fork{
        position: absolute;
        top: 60px;
        left: 80%;
        rotate: 30deg;
        width: 80px;
    }
    .pbuttons{
        margin-bottom: 50vh;
    }
}

