/* change page button (add backgrounds) */
body{
    background-image: url(../img/hcc.png);
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
    font-family: 'space grotesk';
    font-weight: 500;
    margin: 30px;
}
@keyframes pic-rotate {
    0% {rotate: 15deg;}
    50% {rotate: 5deg;}
    100% {rotate: 15deg;}    
}
.heading{
    color:black;
    margin: 40px;
    font-size: 180px;
    word-wrap: break-word;
    width: 680px;
    line-height: 140px;
    position: relative;
    letter-spacing: -17px;
    top: 50px;
}
p{
    font-size: 40px;
}
a{
    font-size: 45px;
    color: black;
    margin: 30px;
    letter-spacing: -3px;
    line-height: 50px;
}
a:hover{
    color:orangered;
}
#img-align{
    position: absolute;
    top: -18%;
    left: 115%;
    animation: pic-rotate 2s infinite forwards;
}
.text-align{
    margin: 40px;
    position: static;
    bottom: 50%;
    width: 1150px;
    line-height: 75px; 
}

@media only screen and (max-width: 600px){
    .heading{
        font-size: 100px;
        letter-spacing: -5px;
        width: 500px;
        line-height: 80px;
    }
    a{
        font-size: 30px;
        color: black;
        margin: 30px;
        letter-spacing: -3px;
    }
    .text-align{
        margin: 30px;
        position: static;
        bottom: 50%;
        width: 500px;
        line-height: 50px; 
        display: grid;
    }
    #img-align{

        position: absolute;
        top: 750px;
        left: -5%;
        display: grid;
        width: 100px;
        animation: pic-rotate 3s infinite forwards;
    }
    @keyframes pic-rotate {
        0% {rotate: 2deg;}
        50% {rotate: -2deg;}
        100% {rotate: 2deg;}    
    }
}