body{
    background-image: url(../img/jwfb.png);
    font-family: 'space grotesk';
    font-weight: 400;
    background-size: 90%;
    background-repeat: repeat;
    background-color: #CEE6BD;
}
@keyframes header-color {
    0% {color: black;}
    30% {color:cornflowerblue;}
    70% {color:royalblue;}
    100% {color: black;}
}
h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: -3px;
    animation: header-color 2s infinite forwards;
}
h2{
    font-family: "Edu TAS Beginner";
    color:royalblue;
    font-size: 70px;
    width: 700px;
    letter-spacing: -5px;
    position: relative;
    left: 9%;
}
hr{
    border-top: 5px dashed;
    border-bottom: 0px;
    color: royalblue;
    width: 50%;
}
#sticker-1{
    position: fixed;
    top: 0px;
    left: 80%;
    rotate: 15deg;
    z-index: 1;
}
#sticker-2{
    position: fixed;
    top: 40px;
    left: 70%;
    z-index: 2;
}
#sticker-3{
    position: fixed;
    top: 5px;
    left: 76.5%;
    z-index: 3;
}
#img-1{
    position: relative;
    left: 10%;
    top: -50px;
}
.text-box{
    margin: 50px;
    border: 5px solid royalblue;
    background-color: cornflowerblue;
    border-radius: 50px;
    line-height: 25px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    width: 40%;
    color: beige;
    position: absolute;
    left: 40%;
    top: 20px;
}
.review{
    margin: 50px;
    border: 5px solid royalblue;
    background-color: cornflowerblue;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    width: 40%;
    color: beige;
    position: absolute;
    left: -3%;
    top: 450px;
    line-height: 35px;
    letter-spacing: -1px;
}
a{
    font-size: 20px;
    color: beige;
    position: relative;
    left: 9%;
    top: 520px;
    background-color: cornflowerblue;
    padding: 15px;
    border-radius: 15px;
}
#prev-page{
    top: 550px;
}
a:hover{
    color: beige;
    background-color: darkblue;
}
#img-1s{
    position: absolute;
    left: 65%;
}
#img-2{
    position: absolute;
    left: 45%;
    top: 340px;
}
#img-3{
    position: absolute;
    left: -2%;
    top: 770px;
    animation: fish-2 6s infinite forwards;
}
#img-4{
    position: absolute;
    left: 45%;
    top: -150px;
}
@keyframes fish-2 {
    0% {rotate: 0deg; left: -2%;}
    20% {rotate: 15deg;left: 15%;}
    40% {rotate: 0deg; left: 30%;}
    60% {rotate: 15deg; left: 45%;}
    80% {rotate: 0deg; left: 60%;}
    100% {left: -2%;}
}
#star{
    position: absolute;
    left: 36%;
    top: 900px;
}
#star:hover{
    rotate: 5deg;
}
